@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #454545;
  --primary-color: #339658;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

/*Header*/

/*Landing Page*/
.main-content {
  max-width: 80%;
  margin: 20px auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-image {
  max-width: 80%;
  margin: 0 auto;
}

.hero-heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  max-width: 60%;
}

.hero-text {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  margin: 10px 0px;
  max-width: 60%;
}

.hero-icons {
  margin-top: 30px;
}

.about-fundme {
  background-image: url("../images/Vector.png");
  background-position: center;
  background-repeat: no-repeat;
  margin: 100px auto;
}

.about-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 5px;
}

.about-underline,
.latest-campaign-underline {
  height: 2px;
  width: 50px;
  background-color: var(--primary-color);
  margin: 5px auto 40px auto;
}

.about-text {
  font-weight: 300;
  font-size: 22px;
  line-height: 42px;
  margin: 15px auto;
  text-align: center;
}

.about-main {
  margin: auto;
  width: 65%;
  padding: 30px 40px 80px 40px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}

.apple-android-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.core-purpose,
.download-app {
  display: flex;
  width: 100%;
  margin: 20px auto;
  justify-content: space-between;
  align-items: center;
}

.core-purpose-image-container,
.download-image-content {
  width: 35%;
}

.core-purpose-text-wrapper,
.download-text-content {
  width: 45%;
}

.core-purpose-image {
  width: 100%;
  height: 100%;
  margin: 50px;
}
.core-purpose-heading,
.download-heading {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 20px;
}

.core-purpose-text,
.download-text {
  text-align: left;
  font-weight: 300;
  font-size: 22px;
  line-height: 42px;
  margin: 15px 0px;
}

.core-purpose-underline,
.download-app-underline {
  height: 2px;
  width: 50px;
  background-color: var(--primary-color);
  margin-left: 0;
}

.btn-ring {
  border-radius: 55px;
  color: var(--primary-color);
  background-color: #ffffff;
  outline: none;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.download-app {
  margin-top: 120px;
}

.download-image-2 {
  width: 80%;
  margin: 0 auto;
}

.success-stories {
  background: linear-gradient(51.12deg, #395c43 10.64%, #0c9b45 96.84%);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  margin: 150px auto;
  width: 80%;
}

.success-stories-underline {
  height: 2px;
  width: 50px;
  background-color: var(--bg-color);
  margin: 10px auto;
}

.success-content {
  padding: 40px 80px;
  color: var(--bg-color);
}

.success-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.avatar-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-category {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 10px;
}

.name-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

.category {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.story {
  max-width: 60%;
}

.story-text {
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.latest-campaign {
  margin: 120px auto;
  width: 80%;
}

.campaign-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 31px;
  margin: 15px auto;
  text-align: center;
}

.campaign-card {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.campaign-subcard {
  width: 30%;
  margin: 0 auto;
  height: 100%;
}

.card-img {
  width: 100%;
  height: 250px;
  object-position: top;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card-heading {
  font-weight: 700;
  font-size: 21px;
  width: 70%;
  line-height: 32px;
  margin: 20px 0;
}

.card-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  width: 80%;
  margin-bottom: 10px;
}

.card-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  color: var(--primary-color);
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .main-content {
    max-width: 90%;
    margin: 20px auto;
  }

  .hero {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .hero-image {
    width: 100%;
  }

  .hero-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
  }

  .hero-text {
    font-size: 18px;
    line-height: 26px;
  }

  .hero-icons {
    margin-top: 20px;
    width: 100%;
    height: 100px;
  }

  .about-fundme {
    width: 100%;
    margin: 50px auto;
  }

  .about-heading {
    font-size: 22px;
    line-height: 36px;
  }

  .about-underline,
  .latest-campaign-underline {
    margin: 10px auto;
  }

  .about-text {
    font-size: 16px;
    line-height: 23px;
    margin: 10px auto;
  }

  .about-main {
    width: 100%;
    padding: 20px;
  }

  .apple-android-about {
    justify-content: space-around;
  }

  .core-purpose,
  .download-app {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
  }

  .core-purpose-image-container {
    width: 80%;
    margin: 30px auto;
  }

  .download-image-content {
    width: 80%;
    margin: 50px auto 20px auto;
  }

  .core-purpose-image {
    width: 80%;
    margin: 0 auto;
  }

  .core-purpose-text-wrapper,
  .download-text-content {
    width: 100%;
  }

  .core-purpose-heading,
  .download-heading {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  .core-purpose-text,
  .download-text {
    font-size: 16px;
    line-height: 26px;
    margin: 10px 0px;
  }

  .btn-ring {
    width: 120px;
    height: 30px;
  }

  .download-app {
    margin-top: 50px;
  }

  .download-image-2 {
    width: 100%;
  }

  .success-stories {
    margin: 40px 0;
    width: 100%;
  }

  .success-content {
    padding: 20px 0;
    color: var(--bg-color);
  }

  .success-heading {
    font-size: 22px;
    line-height: 36px;
  }

  .avatar {
    border-radius: 50%;
    margin-top: 20px;
    width: 80%;
  }

  .avatar-name {
    display: flex;
    flex-direction: column;
  }

  .name-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }

  .name-text {
    font-size: 18px;
    line-height: 23px;
  }

  .category {
    font-size: 16px;
    line-height: 23px;
  }

  .story {
    width: 100%;
  }

  .story-text {
    text-align: left;
    font-size: 16px;
    line-height: 23px;
  }

  .latest-campaign {
    margin: 40px auto;
    width: 100%;
  }

  .campaign-heading {
    font-size: 22px;
  }

  .campaign-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
  }

  .campaign-subcard {
    width: 100%;
    margin: 20px auto;
  }

  .card-heading {
    font-size: 18px;
    width: 100%;
    margin: 10px 0;
  }

  .card-text {
    font-size: 16px;
    line-height: 26px;
    width: 90%;
    margin-bottom: 5px;
  }

  .card-link {
    font-size: 14px;
    margin: 10px 0;
  }
}

/*Donation Campaign Page*/

/*Payment Page*/
.payment {
  max-width: 80%;
  margin: 40px auto;
}

.element {
  position: absolute;
  bottom: 20%;
  left: 1%;
  z-index: -1;
}

.payment-img {
  border-radius: 20px;
}

.payment-content {
  width: 70%;
}

.payment-heading {
  margin: 25px 0;
  font-size: 48px;
  font-weight: 700;
}

input {
  text-indent: 10px;
  height: 60px;
  font-size: 20px;
  margin-top: 20px;
  outline: none;
  border: 1px solid #339658;
  border-radius: 30px;
  padding: 10px 20px;
  background-size: 30px;
  background-position-x: 10px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  text-indent: 30px;
}

.payment-text {
  line-height: 155.5%;
  font-size: 24px;
}

.phone-address {
  display: flex;
  justify-content: space-between;
}

.name,
.email {
  width: 100%;
}

.phone,
.address {
  width: 48%;
}

.btn-submit {
  width: 300px;
  margin: 20px 0;
  height: 60px;
  background-color: #339658;
  color: var(--bg-color);
  border-radius: 55px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transform: background-color 3s ease-in-out;
}

.btn-submit:hover {
  background-color: #419961;
}

.form-element {
  position: absolute;
  right: 0;
}

.header-element {
  position: absolute;
  top: -10%;
  z-index: -1;
}

input:focus {
  background-image: none;
  text-indent: 0px;
}

.name {
  background-image: url("../images/name.svg");
}

.email {
  background-image: url("../images/email.svg");
}

.phone {
  background-image: url("../images/phone.svg");
}

.address {
  background-image: url("../images/address.svg");
}

@media screen and (max-width: 768px) {
  .payment {
    max-width: 90%;
  }
  .element {
    max-width: 100%;
  }

  .payment-img {
    width: 100%;
    height: 260px;
    object-position: center;
  }

  .payment-content {
    width: 90%;
  }

  .payment-heading {
    margin: 20px 0;
    font-size: 26px;
  }

  input {
    height: 40px;
    font-size: 16px;
    background-size: 20px;
    text-indent: 20px;
  }

  .payment-text {
    line-height: 155.5%;
    font-size: 18px;
  }

  .phone-address {
    display: flex;
    flex-direction: column;
  }

  .name,
  .email,
  .phone,
  .address {
    width: 100%;
  }

  .btn-submit {
    margin: 30px 0;
    width: 100%;
    height: 40px;
    font-size: 18px;
  }

  .form-element {
    display: none;
  }
}

/*Footer*/
.footer {
  background: linear-gradient(51.12deg, #395c43 10.64%, #0c9b45 96.84%);
  color: var(--bg-color);
  position: relative;
}

.footer-element {
  position: absolute;
  bottom: 0;
}

.footer-content {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}

.footer-links {
  list-style: none;
}

.footer-links li {
  margin: 10px 0;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.mobile-link {
  text-decoration: none;
  color: inherit;
}

.company {
  font-size: 20px;
  font-weight: normal;
}

.grid-one,
.grid-two,
.grid-three,
.grid-four {
  max-width: 25%;
}

.grid-one > * {
  margin-bottom: 10px;
}

.footer-text,
.footer-rights {
  font-size: 16px;
  font-weight: 200;
}

.footer-rights {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    margin-left: 10px;
  }

  .footer-element {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .footer-link {
    font-size: 14px;
  }

  .company {
    font-size: 16px;
  }

  .grid-one,
  .grid-two,
  .grid-three,
  .grid-four {
    max-width: 100%;
    margin-top: 20px;
  }

  .grid-one > * {
    margin-bottom: 5px;
  }

  .footer-text,
  .footer-rights {
    font-size: 14px;
  }

  .footer-rights {
    margin-bottom: 15px;
  }
}
